* {
    scroll-behavior: smooth;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html,
body {
    overflow: hidden;
}

@font-face {
    font-family: Humanistic;
    src: url(../../public/fonts/Humanistic.ttf);
}

/* Sunny Theme */

body.sunny {
    background-color: #efeff1;
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

.navbar.sunny {
    background-color: #efeff1;
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

.main_content.sunny {
    background-color: #efeff1;
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

.cytaty-container.sunny {
    background-color: #efeff1;
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

.mity-container.sunny {
    background-color: #efeff1;
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

.img-slider.sunny {
    background-color: #efeff1;
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

footer.sunny {
    background-color: #efeff1;
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

.author.sunny {
    background-color: #efeff1;
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

p.sunny {
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

a.sunny {
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

h1.sunny {
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

cite.sunny {
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

.sunny {
    color: #2d2d2d;
}

.label .ball.sunny {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 15px;
    width: 15px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.nav-links .sunny {
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

.footer-links .sunny {
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
    text-decoration: none;
    display: block;
}

.footer-box .sunny {
    color: #2d2d2d;
    transition: ease-in-out 0.6s;
}

.img-slider .navigation .btn.sunny {
    background: #2d2d2d;
}

/* Sunny Theme */

.checkbox {
    opacity: 0;
}

.label {
    background-color: #ef7d0b;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    height: 20px;
    width: 35px;
    margin: 0;
    margin-right: 2%;
    position: sticky;
}

.label .ball {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 15px;
    width: 15px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(16px);
}


.fa-moon {
    color: #FEFCD7;
    width: 12px;
    height: 12px;
    -webkit-transform-origin: 70% 0;
    transform-origin: 70% 0;
    -webkit-animation: swinging 4s ease-in-out forwards infinite;
    animation: swinging 4s ease-in-out forwards infinite;
}

.fa-sun {
    color: #FDB813;
    width: 12px;
    height: 12px;
    -webkit-animation: spinner 4s linear infinite;
    -moz-animation: spinner 4s linear infinite;
    animation: spinner 4s linear infinite;
}

.loading-screen-wrapper {
    position: fixed;
    background-color: #2d2d2d;
    z-index: 999999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ef7d0b;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ef7d0b;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

body {
    background-color: #2d2d2d;
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    color: aliceblue;
    font-family: Humanistic;
}

.brand-title {
    font-size: 2rem;
    margin: .3rem;
}

.brand-title a {
    text-decoration: none;
    color: white;
}

.nav-links.active {
    transition: ease-in 0.4s;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 11px;
    display: block;
    font-size: 23px !important;
    transition: ease-in 0.5s;
}

.nav-links ul li a:hover {
    color: #ef7d0b;
    transition: ease-in 0.5s;
}

.toggle-btn {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.bar-toggle {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 12px;
}

.horse-png {
    transition: ease-in 0.5s;

}

.horse-png:hover {
    transition: ease-in 0.5s;
}

#progress-bar-container {
    top: 0%;
    width: 100%;
    position: fixed;
    height: 4px;
    background-color: #A9A9A9;
    z-index: 7;
    opacity: 0.9;
}

#progress-bar {
    width: 0%;
    height: 4px;
    background-color: #ef7d0b;
}

.bg-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #2d2d2d;
    overflow: hidden;
    position: relative;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.main_content {
    background-color: #2d2d2d;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    text-align: center;
    color: white;
    justify-content: center;
    transition: ease-in 0.5s;
}

.content p {
    width: 85%;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-bitwy {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../../public/assets/photos/various/webp/charge-cavalry.webp);
    height: 100vh;
    display: grid;
    place-items: center center;
    font-family: 'Poppins', sans-serif;
}

.about-bitwy h1 {
    text-align: center;
    color: #ef7d0b;
    font-family: Arial, Helvetica, sans-serif;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 15px;
    grid-gap: 40px;
    transition: ease-in 0.5s;
}

.card:hover {
    transform: scale(1.02);
    cursor: pointer;
    image-rendering: crisp-edges;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background-color: #ef7d0b;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.53);
    transition: ease-in 0.5s;
    border: 3px solid #ef7d0b;
}

.container {
    height: 70px;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

.container img {
    display: block;
    border-radius: 20px 20px 0 0;
    width: 100%;
    transition: ease-in 0.8s;
    filter: brightness(60%) contrast(110%) saturate(0%) brightness(150%);
}

.container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.details {
    padding: 15px 15px;
}

.details>h3 {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
    font-family: Humanistic;
}

.details>p {
    color: white;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.cytaty-container {
    background-color: #2d2d2d;
    height: 100vh;
    display: grid;
    place-items: center center;
    text-align: center;
}

.cytaty {
    color: white;
    font-size: 18px;
}

.cytaty>span>blockquote {
    margin: 50px 25px 50px 25px;
}


.wyposazenie-container {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../../public/assets/photos/various/webp/bckg.webp);
    display: grid;
    place-items: center center;

}

.wyposazenie-container h1 {
    text-align: center;
    color: #ef7d0b;
    font-family: Arial, Helvetica, sans-serif;
}

.wyposazenie {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.lg-container {
    position: relative;
    margin-top: 5%;
}

.lg-image {
    display: flex;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    border: 2px solid #ef7d0b;
    border-radius: 20px 20px 20px 20px;
}

.lg-hotspot {
    position: absolute;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.lg-hotspot:hover .lg-hotspot__button,
.lg-hotspot:active .lg-hotspot__button {
    border-color: #ef7d0b;
}

.lg-hotspot:hover .lg-hotspot__button:after,
.lg-hotspot:active .lg-hotspot__button:after {
    background-color: #ef7d0b;
}

.lg-hotspot--selected {
    z-index: 999;
}

.lg-hotspot--selected .lg-hotspot__label {
    opacity: 1;
}

.lg-hotspot__button {
    cursor: pointer;
    height: 15px;
    width: 15px;
    padding: 0px;
    border-radius: 100%;
    z-index: 999;
    animation: pingping 2s linear infinite;
}

.lg-hotspot__button:hover {
    transform: scale(0.95);
    transition: ease-in 0.6s;
    animation: none;
}

.lg-hotspot__button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    content: "";
    display: block;
    height: 16.8px;
    width: 16.8px;
    border-radius: 100%;
    border: 2px solid white;
    background-color: #ef7d0b;
    transition: border-color 1s linear;
}

.lg-hotspot__label {
    position: absolute;
    padding: 0 0 1.1em 0;
    width: 16em;
    max-width: 50vw;
    background-color: white;
    background-image: url();
    opacity: 0.7;
    font-family: "Open Sans", sans-serif;
    font-size: 14.5px;
    line-height: 1.45em;
    z-index: -1;
    pointer-events: none;
    border-radius: 2px;
    user-select: none;
    opacity: 0;
    transition: all 0.1s linear;
}

.lg-hotspot__label h4 {
    margin: 0;
    padding: 0.65em 24px;
    background-color: #ef7d0b;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 0.02em;
    color: white;
    border-radius: 2px 2px 0 0;
}

.lg-hotspot__label p {
    margin: 0;
    padding: 1.1em 24px 0 24px;
    color: #2d2d2d;
}

.lg-hotspot__label img {
    width: 16em;
    max-width: 50vw;
    z-index: -1;
    transition: ease-in;
    filter: brightness(60%) contrast(120%) saturate(0%) brightness(170%);
    transform: scale(0.65);
}

.lg-hotspot--top-left .lg-hotspot__label {
    top: 16px;
    left: 16px;
    transition: ease-in 0.6s;
    border-radius: 20px 20px 20px 20px;
}

.lg-hotspot--top-right .lg-hotspot__label {
    top: 16px;
    right: 16px;
    transition: ease-in 0.6s;
    border-radius: 20px 20px 20px 20px;
}

.lg-hotspot--bottom-right .lg-hotspot__label {
    right: 16px;
    bottom: 16px;
    transition: ease-in 0.6s;
    border-radius: 20px 20px 20px 20px;
}

.lg-hotspot--bottom-left .lg-hotspot__label {
    bottom: 16px;
    left: 16px;
    transition: ease-in 0.6s;
    border-radius: 20px 20px 20px 20px;
}

.mity-container {
    background-color: #2d2d2d;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scrollToTopBTN {
    background-color: #ef7d0b;
    display: none;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
    position: fixed;
    bottom: 35px;
    right: 20px;
    z-index: 999999;
    transform: translateY(1px);
    transition: ease-in-out 0.5s;
}

.scrollToTopBTN:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.5s;
}

.links {
    text-decoration: none;
    color: #ef7d0b;
    transition: ease-in 0.5s;
    font-size: 16px !important;
}

.links:hover {
    transition: ease-in 0.5s;
    color: white;
}

footer {
    width: 100%;
    background: #2d2d2d;
    color: white;
    margin-top: 1%;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer-box {
    flex: 1;
    margin: 15px;
    min-width: 300px;
    z-index: 10000;
}

.footer-box h2 {
    letter-spacing: 2px;
    border-bottom: 2px solid #ef7d0b;
    position: relative;
    margin-bottom: 15px;
}

.footer-box a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.footer-box a i {
    background: #2d2d2d;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    transition: ease-in 0.5s;
}

.footer-box a i:hover {
    color: #ef7d0b;
    transition: ease-in 0.5s;
}

.social {
    margin-top: 6px;
}

#linked {
    width: 30px;
    height: 30px;
}

#git {
    width: 30px;
    height: 30px;
}

#twitter {
    width: 30px;
    height: 30px;
}

.footer-box a,
.footer-box a i {
    transition: ease-in 0.5s;
}

.footer-box a:hover,
.footer-box a:hover i {
    color: #ef7d0b;
    border-radius: 50%;
    transition: ease-in 0.5s;
}

.footer-links a {
    display: block;
    margin-bottom: 10px;
    z-index: 100;
}

.author {
    width: 100%;
    background: #2d2d2d;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    overflow: hidden;
    color: white;
}

.slider {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: grid;
    place-items: center center;
}

.img-slider {
    position: relative;
    width: 100%;
    height: 100%;
    background: #2d2d2d;
    margin: 10px;
}

.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.img-slider .slide img {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 4%;
}

.img-slider .slide .info {
    position: absolute;
    top: 0;
    padding: 15px 30px;
}

.img-slider .slide .info h2 {
    color: #ef7d0b;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.img-slider .slide .info p {
    color: #fff;
    background: rgba(0, 0, 0, 0.22);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}

.img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn {
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation .btn.active {
    background: #ef7d0b;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
    .toggle-btn {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
        transition: ease-in 0.5s;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
        width: 100%;
    }

    .nav-links li a {
        padding: .5rem 1rem;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links ul li a:hover {
        background-color: #111;
    }

    .label {
        display: flex;
        align-self: flex-end;
        margin-bottom: 10px;
    }

}

@media (max-width: 360px) {
    .content p {
        font-size: 16px;
    }
}

@media (max-width: 880px) {
    .cards {
        display: grid;
        padding: 10px;
        grid-gap: 20px;
        transition: ease-in 0.5s;
    }

    .details>h3 {
        margin: 5px 0 10px 0;
    }

    .details>p {
        font-size: 13px;
        line-height: 30px;
    }

    .about-bitwy {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        display: grid;
        place-items: center center;
    }
}

/*Moto G4 Galaxy S5*/
@media screen and (max-width: 360px),
screen and (max-height: 640px) {
    .cards {
        display: grid;
        padding: 5px;
        grid-gap: 15px;
        transition: ease-in 0.5s;
    }

    .details>h3 {
        margin: 3px 0 7px 0;
    }

    .details>p {
        font-size: 13px;
        line-height: 15px;
    }

    .about-bitwy h1 {
        margin-right: 15%;
        text-align: center;
        font-size: smaller;
    }
}

@media (max-width: 700px) {
    .cards {
        display: grid;
        padding: 5px;
        grid-gap: 15px;
        transition: ease-in 0.5s;
    }

    .details>h3 {
        margin: 3px 0 7px 0;
    }

    .details>p {
        font-size: 13px;
        line-height: 15px;
    }

    .about-bitwy h1 {
        text-align: center;
    }

    .cytaty>span>blockquote {
        margin: 25px 12px 25px 12px;
    }

    .content h1 {
        margin-top: 25px;
    }

}

@media (max-width: 820px) {
    .img-slider {
        width: 600px;
        height: 375px;
    }

    .img-slider .slide .info {
        padding: 10px 25px;
    }

    .img-slider .slide .info h2 {
        font-size: 35px;
    }

    .img-slider .slide .info p {
        width: 70%;
        font-size: 15px;
    }

    .img-slider .navigation {
        bottom: 25px;
    }

    .img-slider .navigation .btn {
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}

@media (max-width: 620px) {
    .img-slider {
        width: 400px;
        height: 250px;
    }

    .img-slider .slide .info {
        padding: 10px 20px;
    }

    .img-slider .slide .info h2 {
        font-size: 30px;
    }

    .img-slider .slide .info p {
        width: 80%;
        font-size: 13px;
    }

    .img-slider .navigation {
        bottom: 15px;
    }

    .img-slider .navigation .btn {
        width: 25px;
        height: 25px;
        margin: 15px;
        border-radius: 50%;
        cursor: pointer;
    }
}

@media (max-width: 420px) {
    .img-slider {
        width: 320px;
        height: 200px;
    }

    .img-slider .slide .info {
        padding: 5px 10px;
    }

    .img-slider .slide .info h2 {
        font-size: 25px;
    }

    .img-slider .slide .info p {
        width: 90%;
        font-size: 11px;
    }

    .img-slider .navigation {
        bottom: 10px;
    }

    .content p {
        font-size: 16px;
    }

    .content h1 {
        font-size: 1.5em;
    }

    .cytaty {
        font-size: 16px;
    }
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@-webkit-keyframes pingping {
    0% {
        -webkit-box-shadow: 0 0 0 0 #efeff1;
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pingping {
    0% {
        -moz-box-shadow: 0 0 0 0 #efeff1;
        box-shadow: 0 0 0 0 #efeff1;
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@-moz-keyframes spinner {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes swinging {
    0% {
        -webkit-transform: rotate(10deg);
    }

    50% {
        -webkit-transform: rotate(-5deg)
    }

    100% {
        -webkit-transform: rotate(10deg);
    }
}

@keyframes swinging {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(10deg);
    }
}